body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color:#3a3a3a;
  padding-top: 5px;
  position: relative;
   background-color: #000000;
    background-image: url("../../assets/images/black_pattern09.jpg");
	background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;
    
}


.container {
   background-color:; 
   padding-top:5px;
}
header {
	height: 160px;
	
}

#logo {
   width:150px;
   height:150px;
   float:left;
}

header>address {
  float:right;
  margin-top:35px;	
  color:white;
  
}

h1,h2 {
    color:white;
	line-height:15px;
	text-shadow:
	1px 1px 0 #CCC,
	2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
	3px 3px 0 #444,
	4px 4px 0 #444,
	5px 5px 0 #444,
	3px 3px 0 #444; /* end of 4 level deep dark shadow */	
}


#followus {
   height:240px;
   width:50px;
   position:fixed;
   top:255px;
   background-color:white;
   right:0px;
   -webkit-border-top-left-radius: 6px;
   -webkit-border-bottom-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
	 -webkit-box-shadow: -1px 0px 5px 0px #eee;
   box-shadow: -1px 0px 5px 0px #eee; 
   z-index:1;
    
}

#followus_list {
  width:60px;
  margin-top:10px;
  margin-left:-15px;
}

.span4 {
   margin-left:20px;
   margin-top:20px;
}

.glyph {
  width:20px;
  margin-right:10px;
  height:20px;

}


#bottompage {
  margin-bottom:30px;
}

footer {
	height: 100px;
	background-color:#eee;
	position:relative;
	bottom:0px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
    -moz-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.hero-unit {
  font-size:15px;
  padding:30px;
  margin-bottom:0;

}

.label {
  font-size:16px;
}
h4,h3 {
  text-align:center;
}

.hero-unit h4 {
    margin-top:0px;

}

#carousel{
   margin-top:20px;
}

.carousel-caption {
  background: rgba(0,0,0,0.5);
}


#titre {
  float:left;
  padding-top:40px;
  padding-left:20px;
}

.navbar {
    margin-bottom: 20px;
    overflow: visible;
	  margin-top:10px;
}
 
ul li {
   list-style-type:none;

}

.social {
   padding-bottom:10px;
   padding-right:15px;
}

#copyright {
   margin-right:10px;
}	


.pager {
   padding-top:40px;
   padding-left:10px;
   padding-right:10px;
}



/*h1,h2 {
color:#eee;
}*/


#event {
   height:60px;
}

#more {
  float:right;
  margin-top:-10px;
}




/*-------contact.html-----*/

#bloc_contact {
  background-color:#eee;
  /*margin-top:-80px;*/
  -moz-border-radius: 6px;
    border-radius: 6px;
    border-radius: 6px;
    margin-top: -25px;
    padding-bottom: 10px;
}

#bloc_contact>h3 {
  padding-top: 40px;
}

 .lbl_contact {
  float:left;
  text-align:right;
  height:30px;
  line-height:30px;
  width: 180px;
  margin-left:60px;
  padding-right: 30px;
}

#bloc_contact ul {
  margin-top: 60px;
}

#bloc_contact #submit {
  float:left;
  margin-left:155px;
}

#bloc_contact #form,
#map {
  border: 2px solid black;
  width:800px;
  margin-left: 60px;
}

#bloc_contact #map {
  margin-bottom:10px;
}


#bloc_contact #form {
  margin-bottom:30px;
  padding-bottom: 30px;
}

.form_position, #checkbox01 {
  float:left;
  padding-right:10px;
}

#frame_map {
  margin-left:400px;
  margin-top:20px;
}

#map address {
  float:left;
  margin-left:200px;
  margin-top:50px;
}

.photo, .photoshop, .appareil_photo, .input_file, 
.autre_version, .autre_sujet, .autre_os, .autre_appareil {
  display:none;
}

#lbl_add {
  width:400px;
  height:30px;
  margin-left:290px;
}

input.error, select.error, textarea.error {
    border: 1px solid red;
}
label.error {
    color: #ff0000;
}

.select_color {
  background-color:red;
}

/*----confirmation.html----*/
#bloc_confirmation {
  height:350px;
  background-color:#eee;
  /*margin-top:-80px;*/
  -moz-border-radius: 6px;
    border-radius: 6px;
    border-radius: 6px;
}

#bloc_confirmation>ul {
  padding-top:30px;
  color:#0088CC;
}

/*Galerie photos*/

li.span4 {
   width:320px;
   height:220px;
   margin-left:30px;
}

a.thumbnail {
   width:300px;
   height:200px;
}

.thumbnail {
   width:300px;
   height:200px;
}

.thumbnail:hover {
  /* border:1px solid #08c;*/
    border-color: rgba(82, 168, 236, 0.9);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

#galerie {
  -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  padding-left:20px;
  padding-right:0;
  width:920px;
  padding-top:0;
  background-color:#eee;
  padding-bottom: 90px;

}

#galerie-intro {
  height:120px;
 padding:10px;
}

/*------produits.php-----*/
#bloc_produits {
  background-color:#eee;
  margin-top:0px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-radius: 6px;
}

.produit {
  padding:10px;
}

.image {
  width:150px;
  height:150px;
  float:left;
  margin-right:10px;
}

.produit_titre {
  font-weight:bold;
  font-size:24px;
}

.blue {
  background-color:blue;
}